<?xml version="1.0" encoding="UTF-8"?>
<Product xmlns="http://wixtoolset.org/schemas/v4/wxs" Id="*" Name="TestApp" Language="1033" Version="1.0.0.0" Manufacturer="TestCo" UpgradeCode="{D7F8A8A0-1234-4B8F-9E5B-6A7B8C9D0E1F}">
  <Package InstallerVersion="500" Compressed="yes" />
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="TestApp"/>
    </Directory>
  </Directory>
  <Feature Id="ProductFeature" Title="TestApp" Level="1" />
</Product>
