# Binaries for programs and plugins
*.exe
*.exe~
*.exe.old
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

local/
# Added by goreleaser init:
dist/

# Version info file
versioninfo.json
*.syso

# env file
*.env

# Tailwind CSS output
**/output.css
node_modules/
package-lock.json
