name: golangci-lint
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache golangci-lint cache
        id: cache-golangci-lint
        env:
          cache-name: cache-golangci-lint
        uses: actions/cache@v5
        with:
          path: ~/.cache/golangci-lint
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('.golangci.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache Go modules
        id: cache-go-mod
        uses: actions/cache@v5
        env:
          cache-name: cache-go-mod
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ env.cache-name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ env.cache-name }}-
            ${{ runner.os }}-go-
            ${{ runner.os }}-
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Run tests
        run: go test ./... -v -
